
.spot-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
}

.spot-image-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    height: 100%;
    /* border: solid red 3px; */
}

.spot-first-image {
    box-sizing: border-box;
    height: auto;
    width: 50%;
    object-fit: cover;
    /* border: solid blue 3px; */
}

.spot-image-inside {
    box-sizing: border-box;
    border-radius: 15px 0px 0px 15px;
    height: 100%;
    width: 100%;
    padding: 3px;
}

.spot-secondary-images-container {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
    /* border: green solid 3px; */
}

.spot-secondary-images-container > img {
    box-sizing: border-box;
    width: 50%;
    padding: 3PX;
}

.spot-secondary-images-container > img:nth-child(2) {
    border-radius: 0px 15px 0px 0px;
}
.spot-secondary-images-container > img:nth-child(4) {
    border-radius: 0px 0px 15px 0px;
}

.spot-information {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.spot-reviews {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
