#modal {
    font-family: 'Manrope', sans-serif; 
    z-index: 3000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
  
#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), 10%, rgba(0, 0, 0, 0.801), 90%, rgb(0, 0, 0));
  backdrop-filter: blur(5px);
}

#modal-content {
  display: flex;
  justify-content: center;
  width: 48%;
  max-width: 900px;
  height: max-content;
  /* border: red solid 2px; */
  position: absolute;
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(243, 243, 243));
  border-radius: 15px;
  overflow: auto;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#edit-spot-form{
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

#edit-spot-form > h1 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.form-button {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 25px;
}

/* input[type=submit] {
  font-family: 'Manrope', sans-serif; 
  color: white; 
  background-color: grey;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

input[type=submit]:hover {
  background-color: rgb(227, 28, 95);
  cursor: pointer;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=url] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
} */
