form {
  font-family: 'Manrope', sans-serif; 
  display: flex;
  justify-content: center;
}

form > h1 {
  margin-bottom: 0px;
}

#modal {
    z-index: 3000;
    height: 50%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: 15%;
    margin-bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 200px; */
}
  
#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  width: 30%;
  position: absolute;
  background-color:white;
  border-radius: 15px;
}

#modal-content > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#edit-spot-form{
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

#edit-spot-form > h1 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.form-button {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 25px;
}

input[type=submit] {
  font-family: 'Manrope', sans-serif; 
  color: white; 
  background-color: grey;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

input[type=submit]:hover {
  background-color: rgb(227, 28, 95);
  cursor: pointer;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=url] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
