.spot-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 2px solid hotpink;
    width: 300px;
    margin: 10px;
}

.spot-name {
    margin-top: 15px;
    font-weight: bold;
}

.spot-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spot-info {
    width: 50%;
    border: 2px solid blue;
}

.spot-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.spot-rating {
    border: green solid 3px;
}

.spot-card-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: solid red 3px;
}

.spot-card-buttons {
    width: 100%;
}
